<!-- <app-bt1-layout></app-bt1-layout> -->
<!-- <app-bt2-layout></app-bt2-layout> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-baitap-ngif></app-baitap-ngif> -->
<!-- <app-attribute-directive></app-attribute-directive> -->
<!-- <app-baitap-ngfor-ngclass></app-baitap-ngfor-ngclass> -->
<!-- <h1 style="color:red">HighLight Directive</h1>
<p appHighLightDirective>Cybersoft</p> -->
<!-- <app-ng-content></app-ng-content> -->
<!-- <app-interaction></app-interaction> -->
<app-dat-ve-xe-bus></app-dat-ve-xe-bus>